{% extends "dy0.html" %}
{% block body %}
<script type="text/javascript">
var intervalID = setInterval(update_values,1000);

  function update_values() {
        $.getJSON($SCRIPT_ROOT + '/_stuff',

      function(data) {
        $('#result').text(data.result);
        $('#result2').text(data.result2);
        console.log(data)
      });

    };



    function stopTextColor() {
      clearInterval(intervalID);
    }

</script>
<body onload="update_values();">
<h1>Dynamic Update</h1>
<p>
    <span id="result">?</span><br>
    <span id="result2">?</span>
<script>
document.getElementById("result").innerHTML;
document.getElementById("result2").innerHTML;
</script>

	<button onclick="stopTextColor();">Stop</button>
	</body>
{% endblock %}
