{% extends "dy0.html" %}
{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
var intervalID = setInterval(update_values,1000);

  function update_values() {
        $.getJSON($SCRIPT_ROOT + '/_stuff',

      function(data) {
        $('#result').text(data.result);
        $('#result2').text(data.result2);
        console.log(data)
      });

    };

    $(function() {
  $('a#test').bind('click', function() {
    $.getJSON('/done',
        function(data) {
          window.location('index.html')

    });
    return false;
  });
});


    function stopTextColor() {
      clearInterval(intervalID);
    }

</script>
<body onload="update_values();">
<h1>Computadoras Perifericas</h1>
<p>
    <span id="result">?</span><br>
    <span id="result2">?</span>
<script>
document.getElementById("result").innerHTML;
document.getElementById("result2").innerHTML;
</script>
<form>
    <a href=# id=test><button class='btn btn-default'>Test</button></a>
</form>
 <!-- <form method="post">
  <input type="submit" name="salida" value="Close">
 </form> -->
	<!-- <button onclick="stopTextColor();">Stop</button> -->
</body>
{% endblock %}
